<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.2" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">
    <persistence-unit name="CoreBusinessPU">
        <description>Primary transactional database for core business operations</description>
        <non-jta-data-source>CoreDB</non-jta-data-source>
        <class>DateTime</class>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="ReportingPU">
        <description>Read-optimized reporting and analytics database</description>
        <non-jta-data-source>ReportingDB</non-jta-data-source>
        <class>persistence.test.project.SomeCustomeClass</class>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="org.hibernate.dialect.H2Dialect"/>
            <property name="hibernate.connection.readOnly" value="create-drop"/>
            <property name="hibernate.dialect" value="true"/>
        </properties>
    </persistence-unit>
    <persistence-unit name="MySqlTest">
        <description></description>
        <non-jta-data-source>NewMySqlDB</non-jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
    </persistence-unit>
</persistence>
